.codeArea {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    margin-bottom: 20px;
}

.codeBox {
    width: fit-content;
    width: 85%;
    height: auto;
    
    margin-top: 0px;
    padding: 10px 10px 10px 10px;

    border-radius: 15px;
    font-family: 'Courier New';
    text-align: justify;

    color: white;
    background: #212529 !important;
}