.imgParcurs {
    border: 5px solid gray !important;
}

.rightText {
    text-align: left;
    margin-right: 30px;
}

.leftText {
    text-align: right;
    margin-left: 30px;
}

.titleParcurs {
    padding: 0px 0px 10px 10px;

    font-size: 22px;
    font-weight: bold;
}

.periodParcurs {
    padding: 0px 0px 10px 10px;

    font-size: 16px;
    font-weight: 700;
    font-style: italic;
}

.descriptionParcurs {
    padding: 0px 0px 10px 10px;

    font-size: 14px;
}

.verticalLine {
    position: relative;
    left: 50%;

    height: 100px;
    width: 10px;

    border-left: 5px solid gray;
}

.verticalMobileLine {
    height: 100px;
    width: 10px;

    border-left: 5px solid gray;

    margin-left: 25%;
}

@media only screen and (max-width: 600px) {
    .titleParcurs{
        font-size: 20px;
    }

    .periodParcurs{
        font-size: 16px;
    }

    .descriptionParcurs{
        font-size: 14px;
    }
}

.container2 {
    display: flex;
    justify-content: center;
}
  
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
@media (min-width: 768px) {
    .container2 {
      justify-content: flex-start;
    }
}
  