.img-setUp {
    margin: 20px 10px;

    width: 85%;

    border-radius: 10px 100px / 120px 100px;
}

.simpleText {
    margin-top: 10px !important;
    padding-right: 50px !important;

    text-align: justify;

    color: white;
}

.tab {
    display: inline-block;
    margin-left: 4em;
}

@media only screen and (max-width: 990px) {
    .simpleText {
        padding-left: 50px !important;
    }
}