.img-setUp {
    width: 85%;

    border-radius: 10px 100px / 120px 100px;

    margin: 10px;
}

.simpleText {
    margin-top: 20px;

    text-align: left;

    color: white;
}

.tab {
    display: inline-block;
    margin-left: 4em;
}